
# Base de datos
POSTGRES_USER=odoo
POSTGRES_PASSWORD=CAMBIAR_POR_CONTRASEÑA_SEGURA
POSTGRES_DB=odoo

# Odoo
ODOO_ADMIN_PASSWD=CAMBIAR_POR_CONTRASEÑA_SEGURA

# Dominio (para Nginx y SSL)
DOMAIN=tu-dominio.com
